/* dasboard css */
/*Contains
website layout settings
dropdown menu settings
table settings
website URL input box and button settings
*/
* {
    box-sizing: border-box;
  }
  
body {
    background: #f8f2ff;
    font-family: sans-serif;
}

.column {
    float: left;
    padding: 5px;
  }
  
  /* Left and right column */
  .column.side {
    width: 20%;
  }
  
  /* Middle column */
  .column.middle {
    width: 60%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  

  /*Dropdown menu settings*/
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(77, 3, 87, 0.432);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

/* Table Settings*/
table {
    border-collapse: collapse;
    table-layout: auto;
    width: 90%;
}

td,
th {
    border: 1px solid #8e38c7;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #c1a2de;
}

/*Input box settings*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #610ad4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4c0a79;
  }

  /* Button Settings*/
  .button {
    background-color: #6b45c4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
